@font-face {
  font-family: Lora;
  src: url(../assets/fonts/Lora-Regular.ttf);
}

// Vars
$affirmative_color: rgb(144, 239, 144);
$negative_color: rgb(255, 181, 181);
$delete_color: rgb(250, 120, 120);
$dark_mode: false;
$dark_bg: rgb(38, 38, 38);

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(206, 206, 206);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 200px;
}

// General Style
:root {
  font-family: Lora;
  font-size: 16px;

  @if $dark_mode == false {
    color: black;
    background-color: white;
  } @else {
    color: white;
    background-color: $dark_bg;
  }

}

header {
  font-size: 3rem;
}

button {
  transition: background-color 250ms;
  font-family: inherit;
  font-size: inherit;
}

.pageWrapper {
  padding: 50px 130px 0px 130px;
}

.swal-popup {
  font-family: Lora;
}

.loadingscreen {
  // transition: visibility 0.3s linear;
  // transition: opacity 0.3s linear;

  .dimmer {
    @if $dark_mode == false { background-color: rgb(255, 255, 255); } @else { background-color: $dark_bg; }
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .loadingicon {
    text-align: center;
    position: fixed;

    left: 0;
    right: 0;
    top: 30%;
    
    img {
      width: 10%;
      height: 10%;
    }

    p {
      @if $dark_mode == false { color: rgb(0, 0, 0); } @else { color: rgb(255, 255, 255); }
    }

  }
}

a {
    text-decoration: none;
    @if $dark_mode == false { 
      color: black;
    } @else { 
      color: white
    }
    
    transition: color 250ms;

    &:hover {
      color: $delete_color;
    }
} 

// Page Styles
.libraryPage {
  input {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 24px;
    border-width: 1px;
    margin-top: 10px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
    &.bookList {
      li {
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        overflow: hidden;

        &.noresults {
          text-align: center;
          padding: 75px 20px 75px 20px;
        }

        .bookName {
          font-size: 1.3rem;
        }
      }
    }
  }

  button {
    font-family: Lora;
    border-radius: 24px;
    border-width: 1px;
    font-size: inherit;
    border-style: solid;
    padding: 10px;
    background-color: rgb(239, 239, 239);

    &:hover {
      background-color: white;
    }

    &.bookOperations {
      margin-right: 10px;
      width: 100px;

      &.deleteBtn {
        background-color: lighten($delete_color, 20%);

        &:hover {
          background-color: $delete_color;
        }
      }
    }

    &.addBookBtn,
    &.logoutBtn,
    &.reloadBtn {
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 1.2rem;
    }

    &.reloadBtn, &.logoutBtn {
      margin-top: 10px;
    }

    &.addBookBtn {
      background-color: lighten($affirmative_color, 20%);
      &:hover {
        background-color: $affirmative_color;
      }
    }

    &.logoutBtn {
      background-color: lighten($delete_color, 20%);
      &:hover {
        background-color: $delete_color;
      }
    }
  }

  .bookButtons {
    padding-top: 10px;
  }

  @media (max-width: 800px) {
    button {
      padding: 5px;

      &.bookOperations {
        width: 60px;
      }
    }
  }

  @media (max-width: 580px) {
    button {
      padding: 5px;

      &.bookOperations {
        width: 60px;
      }
    }
  }

  @media (max-width: 450px) {
    button {
      padding: 5px;

      &.bookOperations {
        width: 60px;
        margin: 5px;
      }
    }
  }
}

.addBookPage,
.editBookPage {
  button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }
  p {
    margin: 0px;
    margin-bottom: 5px;
  }
  input {
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border-width: 1px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-family: Lora;
    font-size: 1.1rem;

    &:target {
      color: red;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      border-width: 1px;
      border-radius: 5px;
      border-style: solid;
      padding: 15px;
      margin-bottom: 10px;
      p {
        font-size: 1.2rem;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      button {
        margin-top: 5px;
        transition: background-color 250ms;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        background-color: lighten($affirmative_color, 20%);
        &:hover {
          background-color: $affirmative_color;
        }
      }
    }
  }
  button {
    font-family: Lora;
    border-radius: 5px;
    border-width: 1px;
    font-size: inherit;
    border-style: solid;
    width: 100%;
    padding: 10px;
    flex: 1;
    margin-top: 10px;

    &.submitBtn {
      background-color: lighten($affirmative_color, 20%);
      margin-right: 10px;
      &:hover {
        background-color: $affirmative_color;
      }
    }

    &.cancelBtn {
      &:hover {
        background-color: rgb(255, 255, 255);
      }
    }
  }
  .yearpageflex {
    display: flex;
    .year {
      margin-right: 10px;
    }
    .year,
    .page {
      flex: 1;
    }
  }

  @media (max-width: 450px) {
    form {
      input {
        text-align: center;
        padding: 10px;
      }
      .flexbuttons {
        button {
          padding: 5px;
        }
      }
    }
  }
}

.bookNotesPage {
  input,
  textarea {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
  }

  textarea {
    padding-bottom: 50px;
  }

  button.tolibrary,
  button.revealForm {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    &:hover {
      background-color: white;
    }
  }

  button.revealForm {
    margin-bottom: 10px;
    &:hover {
      background-color: white;
    }
  }

  .bookInfo {
    font-size: 1.2rem;
    span.bookTitle {
      font-size: 1.5rem;
    }
  }

  .pagechapterflex {
    display: flex;
    width: 100%;
    input {
      flex: 1;
      &.chapterinput {
        margin-right: 10px;
      }
    }
  }

  .ideaquoteflex {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    textarea {
      margin-bottom: 0px;
      flex: 1;
      &.contentinput {
        margin-right: 10px;
      }
    }
  }

  .flexbuttons {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    button {
      flex: 1;
      padding: 5px;
      border-radius: 5px;
      border-width: 1px;
      &:hover {
        background-color: white;
      }
      &.confirmBtn {
        background-color: lighten($affirmative_color, 20%);
        margin-right: 10px;
        &:hover {
          background-color: $affirmative_color;
        }
      }
      &.closeBtn {
        margin-right: 10px;
      }
      &.resetBtn {
        background-color: lighten($delete_color, 20%);
        &:hover {
          background-color: $delete_color;
        }
      }
    }
  }

  .noteList {
    list-style: none;
    padding-left: 0;
    li {
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      padding: 15px;
      margin-bottom: 20px;
      overflow: hidden;

      .content {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .quote {
        opacity: 70%;
        margin-bottom: 5px;
      }
    }

    button {
      padding: 5px;
      border-radius: 5px;
      border-width: 1px;

      &.editBtn {
        margin-right: 5px;
        &:hover {
          background-color: white;
        }
      }

      &.deleteBtn {
        background-color: lighten($delete_color, 20%);
        &:hover {
          background-color: $delete_color;
        }
      }
    }
  }

  .notebuttons {
    margin-top: 10px;
  }
}

.noteEditPage {
  form {
    p {
      margin: 0px;
      margin-bottom: 5px;
    }
    input,
    textarea {
      padding: 10px;
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
      border-width: 1px;
      box-sizing: border-box;
      margin-bottom: 5px;
      font-family: Lora;
      font-size: 1.1rem;
      resize: none;

      &:target {
        color: red;
      }
    }
    .flexbuttons {
      width: 100%;
      display: flex;
      button {
        font-family: Lora;
        border-radius: 5px;
        border-width: 1px;
        font-size: inherit;
        border-style: solid;
        width: 100%;
        padding: 10px;
        flex: 1;
        margin-top: 10px;

        &.submitBtn {
          background-color: lighten($affirmative_color, 20%);
          margin-right: 10px;
          &:hover {
            background-color: $affirmative_color;
          }
        }

        &.cancelBtn {
          &:hover {
            background-color: rgb(255, 255, 255);
          }
        }
      }
    }
  }

  .bookInfo {
    font-size: 1.2rem;
    margin-bottom: 10px;
    span.bookTitle {
      font-size: 1.5rem;
    }
  }

  .pagechapterflex {
    display: flex;
    width: 100%;
    input {
      flex: 1;
      &.chapterinput {
        margin-right: 10px;
      }
    }
  }

  .ideaquoteflex {
    display: flex;
    width: 100%;
    margin-bottom: 0px;
    textarea {
      padding-bottom: 100px;
      margin-bottom: 5px;
      flex: 1;
      &.contentinput {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 450px) {
    form {
      input {
        text-align: center;
        padding: 5px;
      }
      .flexbuttons {
        button {
          padding: 5px;
        }
      }
    }
  }
}

.authPage {
  input {
    @if $dark_mode == false { 
      background-color: rgb(255, 255, 255);
      color: black
    } @else { 
      background-color: $dark_bg; 
      color: white;
      border-color: white;
    }
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  button {
    @if $dark_mode == false { 
      background-color: rgb(255, 255, 255);
      color: black;
    } @else { 
      background-color: $dark_bg; 
      color: white;
      border-color: white;
    }
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    transition: background-color 300ms;
    &:hover {
      background-color: white;
    }
    &.submitBtn {
      &:hover {
        background-color: $affirmative_color;
      }
    }
  }
}

//Screen Size Adjust
@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }

  .pageWrapper {
    padding: 30px 100px 0px 100px;
  }
}

@media (max-width: 580px) {
  :root {
    font-size: 10px;
  }

  .pageWrapper {
    padding: 30px 50px 0px 50px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 8px;
    text-align: center;
  }
  .pageWrapper {
    padding: 30px 30px 0px 30px;
  }
}
